<?xml version="1.0"?>
<robot name="single_joint" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find layered_hardware)/examples/common/description/materials.xacro" />
  <xacro:include filename="$(find layered_hardware)/examples/single_actuator/description/model.xacro" />
  <xacro:include filename="$(find layered_hardware_ign)/examples/single_joint/description/ros2_control.xacro" />

</robot>